[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32
[submodule "components/m5stack/M5Core2"]
	path = components/m5stack/M5Core2
	url = https://github.com/m5stack/M5Core2
[submodule "components/freetype/M5EPD"]
	path = components/freetype/M5EPD
	url = https://github.com/m5stack/M5EPD.git
[submodule "components/m5stack/UNIT_ENV"]
	path = components/m5stack/UNIT_ENV
	url = https://github.com/m5stack/UNIT_ENV
